<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Available books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Available Books</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-list [inset]="true">
      @for (item of items; track item.name) {
      <ion-item>
        <ion-label>{{ item.name }}</ion-label>
        <ion-label>
          <ion-icon name="pricetag"></ion-icon>
          {{ item.catagery }}
        </ion-label>
      </ion-item>
      } @empty {
      <ion-item>
        <ion-label>There are no books available.</ion-label>

      </ion-item>
      }
    </ion-list>
  </div>
</ion-content>